<%= render 'shared/header' %>
<div class="main">
	<article>
		<section class="recent_posts">
			<h2>最新投稿</h2>
			<% if @recentPosts %>
				<ul>
				<% @recentPosts.each do |post| %>
					<li><a href="/knowledge/<%= post.id %>"><%= post.title %></a></li>
				<% end %>
				</ul>
			<% end %>
		</section>
		<!--最新ニュース(About Latest News)とか-->
		<!--特集とか-->
		<!--便利ツールとか-->
		<!--閲覧ランキング-->
		<% if Rails.env == 'production' %>
			<section>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- adsense -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-7732606557161974"
					 data-ad-slot="1848440441"
					 data-ad-format="auto"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</section>
		<% end %>
	</article>
	<%= render 'shared/sidebar' %>
</div>
<%= render 'shared/footer' %>