<%= render 'shared/header' %>
<div class="main">
	<article>
		<section>
			<% if @paramCategory %>
				<h2><%= @paramCategory.name %></h2>
			<% elsif @paramMiddleCategory %>
				<h2><%= @paramMiddleCategory.category.name %></h2><h2><%= @paramMiddleCategory.name %></h2>
			<% elsif @paramSmallCategory %>
				<h2><%= @paramSmallCategory.middle_category.category.name %></h2><h2><%= @paramSmallCategory.middle_category.name %></h2><h2><%= @paramSmallCategory.name %></h2>
			<% end %>
			<% if @paramCategory %>
				<ul class="middle_categories">
					<% @middleCategoriesByParam.each do |middle| %>
						<li><a href="/knowledge?middle_category=<%= middle.name %>"><%= middle.name %></a></li>
					<% end %>
				</ul>
			<% end %>
			<% if @paramMiddleCategory %>
				<ul class="small_categories">
					<% @smallCategoriesByParam.each do |small| %>
						<li><a href="/knowledge?small_category=<%= small.name %>"><%= small.name %></a></li>
					<% end %>
				</ul>
			<% end %>
			<% if @articlesByParam %>
				<p class="article_count"><%= @articleCount %>&nbsp;件</p>
				<ul class="articles">
					<% @articlesByParam.each do |article| %>
						<li><a href="/knowledge/<%= article.id %>"><%= article.title %></a></li>
					<% end %>
				</ul>
			<% end %>
		</section>
		<!--最新ニュース(About Latest News)とか-->
		<!--特集とか-->
		<!--便利ツールとか-->
		<!--閲覧ランキング-->
		<% if Rails.env == 'production' %>
			<section>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- adsense -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-7732606557161974"
					 data-ad-slot="1848440441"
					 data-ad-format="auto"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</section>
		<% end %>
	</article>
	<%= render 'shared/sidebar' %>
</div>
<%= render 'shared/footer' %>