<%= render 'shared/header' %>
<div class="main">
	<article>
		<section>
			<h2><%= @category.name %></h2><h2><%= @middle_category.name %></h2><h2><%= @small_category.name %></h2>
			<h1><%= @article.title %></h1>
			<% @parse.each do |parse| %>
				<div class="sentence_section">
				<% if parse['type'] == KnowledgeController::TEXT %>
					<pre><%= parse['sentence'].html_safe %></pre>
				<% elsif parse['type'] == KnowledgeController::CODE %>
					<pre><code><%= parse['sentence'] %></code></pre>
				<% end %>
				</div>
			<% end %>
		</section>
		<% if @relatedArticles %>
			<section>
				<p class="relate_title">関連記事</p>
				<ul class="articles">
					<% @relatedArticles.each do |relate| %>
						<% if relate.id != @article.id %>
							<li><a href="/knowledge/<%= relate.id %>"><%= relate.title %></a></li>
						<% end %>
					<% end %>
				</ul>
			</section>
		<% end %>
	</article>
	<%= render 'shared/sidebar' %>
</div>
<%= render 'shared/footer' %>