<%= render 'shared/header' %>
<div class="main">
	<article>
		<section>
			<h2><%= @category.name %></h2><h2><%= @middle_category.name %></h2><h2><%= @small_category.name %></h2>
			<h1><%= @article.title %></h1>
			<p class="date"><span><%= @article.created_at.strftime('%Y.%m.%d') %></span></p>
			<% @parse.each do |parse| %>
				<div class="sentence_section">
				<% if parse['type'] == KnowledgeController::TEXT %>
					<pre><%= parse['sentence'].html_safe %></pre>
				<% elsif parse['type'] == KnowledgeController::CODE %>
					<pre><code><%= parse['sentence'] %></code></pre>
				<% elsif parse['type'] == KnowledgeController::JAVA %>
					<pre><code class="java"><%= parse['sentence'] %></code></pre>
				<% elsif parse['type'] == KnowledgeController::PHP %>
					<pre><code class="php"><%= parse['sentence'] %></code></pre>
				<% elsif parse['type'] == KnowledgeController::PYTHON %>
					<pre><code class="python"><%= parse['sentence'] %></code></pre>
				<% elsif parse['type'] == KnowledgeController::RUBY %>
					<pre><code class="ruby"><%= parse['sentence'] %></code></pre>
				<% elsif parse['type'] == KnowledgeController::HTML %>
					<pre><code class="html"><%= parse['sentence'] %></code></pre>
				<% elsif parse['type'] == KnowledgeController::CSS %>
					<pre><code class="css"><%= parse['sentence'] %></code></pre>
				<% elsif parse['type'] == KnowledgeController::JAVASCRIPT %>
					<pre><code class="javascript"><%= parse['sentence'] %></code></pre>
				<% elsif parse['type'] == KnowledgeController::LINUX %>
					<pre><code class="bash"><%= parse['sentence'] %></code></pre>
				<% end %>
				</div>
			<% end %>
		</section>
		<% if @relatedArticles %>
			<section>
				<p class="relate_title">関連記事</p>
				<ul class="articles">
					<% @relatedArticles.each do |relate| %>
						<% if relate.id != @article.id %>
							<li><a href="/knowledge/<%= relate.id %>"><%= relate.title %></a></li>
						<% end %>
					<% end %>
				</ul>
			</section>
		<% end %>
		<% if Rails.env == 'production' %>
			<section>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- adsense -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-7732606557161974"
					 data-ad-slot="1848440441"
					 data-ad-format="auto"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</section>
		<% end %>
	</article>
	<%= render 'shared/sidebar' %>
</div>
<%= render 'shared/footer' %>